
<div>
    <%= form_for @user do |f| %>
      <h2>ID登録</h2> 
      <p>
      <%= f.label :name, "ニックネーム(重複不可)" %>
      <%= f.text_field :name %>
      </p>
     
      <p>
      <%= f.label :email, "Eメール" %>
      <%= f.text_field :email %>
      </p>
     
      <p>
      <%= f.label :passwd, "パスワード(半角6~12文字、英大文字・小文字・数字を1文字以上含める)" %>
      <%= f.password_field :passwd %>
      </p>

      <%= f.submit "登録" %>
 
    <% end %>
</div>

