<!DOCTYPE html>
<html>
  <head>
  <title><%=content_for?(:title) ? yield(:title):"defomate"%></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8" name="viewport"
    content="width=device-width,initial-scale=1,minimum-scale=1">

    <!--ファビコン -->
    <%= favicon_link_tag('favicon.ico') %>
    <img class="size_logo" src="/assets/site-part/defomate_ban.png">
  </head>

  <body class="basecolor">
    <%= yield %>
  </body>

  <!--フッター-->
  <footer>
  c2020 defomate<br>
  各作品の著作権はクリエイターに帰属し無断転載を禁じます
  <a href="#page-top">▲top</a>
  </footer>
</html>
