<!DOCTYPE html>
<html>
  <head>
    <%#各ページでタイトルを変更させる。入力がない場合は"defomate"を出力 %>
    <title><%=content_for?(:title) ? yield(:title)+ ' | defomate' : 'defomate'%></title>

    <%# クロスサイトスクリプティング攻撃の対策 %>  
    <%= csrf_meta_tags %>

    <%# 全てのSCSSとjavascriptファイル読み込み, ロードの速度を上げるgemを利用 #%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# モバイル対応。 表示画面が小さい場合に表示も狭める %>
    <meta charset="UTF-8" name="viewport"content="width=device-width,initial-scale=1,minimum-scale=1">

    <%# ファビコン指定 %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <header>
    <%# ロゴ指定 %> 
    <a href="/"><img class="size_logo" src="/assets/site-part/defomate_ban.png">

    <%# 管理者ページへ移動 %> 
    <a href="/users" class="btn">管理者画面</a>

    <%# ID登録、ログインページへ遷移 %> 
    <a href="/users/new"class="btn">ID登録</a>

    <%# サインアウト%>
    <%#= link_to "サインアウト", destroy_user_session_path, method: :delete, class: 'btn' %>
  </header>

  <body>
    
    <% flash.each do |message_type, message| %>
      <div>
        <h3>
          <%= message %>
        </h3>
      </div>
    <% end %>
    
    <%= yield %>
    
  </body>

  <!--フッター-->
  <footer>
    <br>
    <a href="/about">サイト説明</a>
    <a href="#page-top">▲pagetop</a>
    <a href="/">▲sittop</a><br>
    c2020 defomate.<br> 
    各作品の著作権はクリエイターに帰属し無断転載を禁じます。
  </footer>
</html>
